.page-header * {
    font-weight: var(--bold);
}

.page-header a {
    text-decoration: none;
}

@media (min-width: 900px) {

    .page-header {
        position: fixed;
        top: var(--gutter);
    }

}
