@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/assets/fonts/Inter-roman.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('/assets/fonts/Inter-italic.woff2') format('woff2');
}

:root {
    --text-stack: Inter, system-sans, system-ui, sans-serif;
    --text-settings: 'kern' 1, 'liga' 1, 'case' 1, 'dlig' 1, 'ss03' 1;
    --text-measure: 70ch;
    --text-size: max(1em, 1.1vw);
    --text-height: 1.7;
    --text-spacing: -0.011em;

    --bold: 600;
}
