:root {
    --xxs: calc(0.125 * var(--md));
    --xs: calc(0.25 * var(--md));
    --sm: calc(0.5 * var(--md));
    --md: 1.5rem;
    --lg: calc(2 * var(--md));
    --xl: calc(4 * var(--md));
    --xxl: calc(8 * var(--md));

    --gap: var(--md);
    --gutter: var(--lg);

    --frame:
        max(env(safe-area-inset-top), var(--lg))
        max(env(safe-area-inset-right), calc(0.75 * var(--md)))
        max(env(safe-area-inset-bottom), var(--lg))
        max(env(safe-area-inset-left), calc(0.75 * var(--md)));

    --cols: repeat(1, minmax(0, 1fr));

    --text-stack: Inter, system-sans, system-ui, sans-serif;
    --text-settings: 'kern' 1, 'liga' 1, 'case' 1, 'dlig' 1, 'ss03' 1;
    --text-measure: 70ch;
    --text-size: max(1em, 1.1vw);
    --text-height: 1.7;
    --text-spacing: -0.011em;

    --bold: 600;

    --hue: 200;
    --canvas: hsl(var(--hue) 2% 97%);
    --text-on-canvas: hsl(var(--hue) 10% 10%);
    --link-on-canvas: hsl(var(--hue) 20% 35%);
    --decoration-on-canvas: hsl(var(--hue) 10% 90%);

    --border: 1px solid var(--decoration-on-canvas);
    --shadow:
      0px 0.2px 0.9px rgba(0, 0, 0, 0.003),
      0px 0.5px 2px rgba(0, 0, 0, 0.004),
      0px 0.7px 3.5px rgba(0, 0, 0, 0.006),
      0px 1.1px 5.3px rgba(0, 0, 0, 0.007),
      0px 1.5px 7.8px rgba(0, 0, 0, 0.008),
      0px 2.1px 11.4px rgba(0, 0, 0, 0.009),
      0px 2.8px 16.8px rgba(0, 0, 0, 0.011),
      0px 4px 25.6px rgba(0, 0, 0, 0.014),
      0px 5.8px 41.3px rgba(0, 0, 0, 0.018),
      0px 8px 73px rgba(0, 0, 0, 0.02);

}

@media (prefers-color-scheme: dark) {
    :root {
        --canvas: hsl(var(--hue) 2% 7%);
        --text-on-canvas: hsl(var(--hue) 4% 88%);
        --link-on-canvas: hsl(var(--hue) 6% 66%);
        --decoration-on-canvas: hsl(var(--hue) 2% 15%);
    }
}

@media (min-width: 600px) {
    :root {
        --frame:
            max(env(safe-area-inset-top), var(--xxl))
            max(env(safe-area-inset-right), var(--lg))
            max(env(safe-area-inset-bottom), var(--xxl))
            max(env(safe-area-inset-left), var(--lg));
    }
}

@media (min-width: 900px) {
    :root {
        --cols: repeat(2, minmax(0, 1fr));
    }
}
