:root {
    --xxs: calc(0.125 * var(--md));
    --xs: calc(0.25 * var(--md));
    --sm: calc(0.5 * var(--md));
    --md: 1.5rem;
    --lg: calc(2 * var(--md));
    --xl: calc(4 * var(--md));
    --xxl: calc(8 * var(--md));

    --gap: var(--md);
    --gutter: var(--lg);
    --frame: var(--lg) var(--md);

    --cols: repeat(1, minmax(0, 1fr));

    --text-stack: Inter, system-sans, system-ui, sans-serif;
    --text-settings: 'kern' 1, 'liga' 1, 'case' 1, 'dlig' 1, 'ss03' 1;
    --text-measure: 60ch;
    --text-size: max(1em, 1.2vw);
    --text-height: 1.7;
    --text-spacing: -0.011em;

    --bold: 600;

    --hue: 200;
    --canvas: hsl(var(--hue) 2% 97%);
    --text-on-canvas: hsl(var(--hue) 10% 10%);
    --link-on-canvas: hsl(var(--hue) 20% 35%);
    --decoration-on-canvas: hsl(var(--hue) 10% 90%);

    --border: 1px solid var(--decoration-on-canvas);
}

@media (prefers-color-scheme: dark) {
    :root {
        --canvas: hsl(var(--hue) 2% 5%);
        --text-on-canvas: hsl(var(--hue) 4% 95%);
        --link-on-canvas: hsl(var(--hue) 6% 70%);
        --decoration-on-canvas: hsl(var(--hue) 2% 15%);
    }
}

@media (min-width: 600px) {
    :root {
        --frame: var(--lg);
    }
}

@media (min-width: 900px) {
    :root {
        --cols: repeat(2, minmax(0, 1fr));
    }
}
