/* We break it down to build it up again */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    color: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01s !important;
        transition-duration: 0.01s !important;
    }
}
