[Plan.Net]: https://www.plan-net.com/en.html
[Commanders Act]: https://www.commandersact.com/en/
[POSSIBLE]: https://www.wundermanthompson.com/
[Hetzner]: https://www.hetzner.de/
[Collin Goldie]: https://www.colingoldie.de/
[Kerry Whistles]: https://kerrywhistles.com/
[nownownow]: https://nownownow.com/
[Unsplash]: https://unsplash.com/
[uses]: https://github.com/wesbos/awesome-uses

[Lume]: https://lumeland.github.io/
[Schema]: https://schema.org/
[Open Graph]: https://ogp.me/
[Twitter Card]: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards/
[Node]: https://nodejs.org/en/
[Deno]: https://deno.land/
[MIT]: https://oss.ninja/mit/
[RSS]: https://en.wikipedia.org/wiki/RSS/
[Atom]: https://en.wikipedia.org/wiki/Atom_(Web_standard)/
[JSON]: https://www.jsonfeed.org/
[Inter]: https://rsms.me/inter/
[Markdown]: https://daringfireball.net/projects/markdown/

[Email]: mailto:{{ author.email }}
[Phone]: tel:{{ author.telephone | replace(" ", "") }}
[LinkedIn]: https://www.linkedin.com/in/{{author.x.userNames.linkedin}}
[PGP]: /tobiasschmidt.pgp
