<nav class="post-list" id="post-list">
    <ol reversed>
    {% for year, posts in search.pages("post", "date=desc") | groupby("data.year") %}
    <li>
        <h2>{{ year }}</h2>
        <ol>
            {% for post in posts %}
            <li>
                <a href="{{ post.data.url }}" {% if url == post.data.url %} aria-current="page"{% endif %}>
                    <span>{{ post.data.title }}</span>
                    {# <time datetime="{{ post.data.date | date("DATETIME") }}">{{ post.data.date | date("d.M.") }}</time> #}
                </a>
            </li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
    </ol>
</nav>
