body {
    min-height: 100vh;
    padding: var(--frame);

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--gutter);
}

body > :not([aria-hidden="false"]) + * {
    padding-top: var(--gutter);
    border-top: var(--border);
}

main {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--gutter);
}

main > * + * {
    padding-top: var(--gutter);
    border-top: var(--border);
}
