main nav > ol {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gutter);
}

main nav a {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 1ch;
    text-decoration: none;
}

main nav a :first-child {
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    order: 1;
}

main nav a::after {
    content: '';
    flex: 1 0 1rem;
    height: 1px;
    border: 0;
    border-bottom: var(--border);
    border-style: dotted;
    order: 2;
}

main nav a :last-child {
    flex: 0 1 auto;
    order: 3;
}
