<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.name }}</title>
    <subtitle>{{ site.description }}</subtitle>
    <link href="{{ url | url(true) }}" rel="self"/>
	<link href="{{ "/" | url(true) }}"/>
	<id>{{ "/" | url(true) }}</id>
	<updated>{{ time.stamp | date("ATOM") }}</updated>
    <author>
        <name>{{ author.name }}</name>
        <email>{{ author.email }}</email>
    </author>
    {%- for post in search.pages("post", "date=desc") %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ post.data.url | url(true) }}"/>
        <published>{{ post.data.date | date("ATOM") }}</published>
		<updated>{{ post.data.date | date("ATOM") }}</updated>
		<id>{{ post.data.url | url(true) }}</id>
		<content type="html">{{ post.data.content | njk(post.data) | md | htmlUrl(true) }}</content>
	</entry>
	{%- endfor %}
</feed>
