/* TEAM */
Name: {{ author.name }}
Email: {{ author.email}}
Location: {{ author.address.addressLocality }}

/* THANKS */
The whole world!

/* SITE */
Last update: {{ time.stamp | date("HUMAN_DATE") }}
Standards: HTML5, CSS3, JS, TS, Schema.org, OG
Software: Lume, markdown-it, PostCSS
