---
layout: layouts/base.njk
title: Tobias Schmidt
subtitle: Digitalisation Expert
description: Tobias Schmidt's personal website.
tags:
    - index
    - list
---

{% set post = search.pages("post", "date=desc") | first %}

<article>
{{ post.data.content | njk(post.data) | md | htmlUrl(true) | safe }}
</article>
