{
  "short_name": "{{ site.x.shortname }}",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "start_url": "/",
  "display": "standalone",
  "background_color": "#ffffff",
  "theme_color": "#000000"
}
