details {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
    border-top: var(--border);
    border-bottom: var(--border);

}

details ::marker {
    content: '▷ ';
    color: var(--decoration-on-canvas);
    padding-left: calc(var(--gap) / 2);
    margin-left: calc(var(--gap) * -0.5);
    font-size: 90%;
}

details[open] ::marker {
    content: '▽ ';
}

details + details {
    margin-top: 0;
    border-top: none;
}

details summary {
    cursor: pointer;
    list-style-position: outside;
}
