figure[style*='overflow-x'] {
    margin-left: calc(-1 * var(--gap));
    margin-right: calc(-1 * var(--gap));
}

figure[style*='overflow-x'] > figure {
    padding: 0 var(--gap) var(--gap);
}

figcaption {
    margin-top: calc(var(--gap) / 3);
}

figcaption * {
    display: inline;
}

figcaption::before {
    content: '↳ ';
}
