b,
strong {
    font-weight: var(--bold);
}

i,
em {
    font-style: italic;
}

s {
    text-decoration: line-through;
}

time {
    font-feature-settings: 'tnum' 1;
}

sub {
    font-feature-settings: 'subs' 1;
}

sup {
    font-feature-settings: 'sups' 1;
}
