dl {
}

dl dt {
    font-weight: var(--bold);
    font-style: italic;
}

dl dd::before {
    content: '↳ ';
}

ul {
    list-style: disc;
}

ul ::marker {
    content: '• ';
    color: var(--decoration);
    padding-left: calc(var(--gap) / 2);
    margin-left: calc(var(--gap) * -0.5);
}

ol {
    list-style-position: inside;
    counter-reset: ordered-list;
}

ol li {
    counter-increment: ordered-list;
}

ol ::marker {
    content: counter(ordered-list) '\20DD  ';
}

nav ul,
nav ol {
    list-style: none;
}

nav ol * {
    margin-top: 0;
}

nav ol ::marker {
    content: '';
    display: none;
}

ul li,
dl dd {
    margin-top: 0;
}
