/* We break it down to build it up again */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 1rem;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    color: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:not(img):not(picture)::selection {
    color: var(--canvas);
    background-color: var(--text-on-canvas);
}

:root {
    font-family: var(--text-stack);
    font-size: var(--text-size);
    font-feature-settings: var(--text-settings);
    letter-spacing: var(--text-spacing);
    line-height: var(--text-height);
    color-scheme: light dark;
    color: var(--text-on-canvas);
    background: var(--canvas);
    hanging-punctuation: first;
}

body {
    margin: auto;
    max-width: calc(var(--text-measure) + 2 * var(--frame));
    min-height: 100vh;
    padding: var(--frame);
}

* + * {
    margin-top: var(--gap);
}

[aria-hidden="false"] + * {
    margin-top: 0
}

body > :not([aria-hidden="false"]) + * {
    margin-top: var(--gutter);
    border-top: var(--border);
    padding-top: var(--gutter);
}



@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01s !important;
        transition-duration: 0.01s !important;
    }
}
