table {
    border: var(--border);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    font-feature-settings: "tnum" 1;
}

table th {
    font-weight: var(--bold);
    text-align: left;
}

table th,
table td {
    padding: var(--gap);
    border-bottom: var(--border);
}
